<div class="row">
  <div class="col-8">
    <div class="row">
      <div class="col-12">
        Ordenar por:
      </div>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1">Título</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">Autor</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
      <label class="form-check-label" for="inlineRadio3">Edição</label>
    </div>
  </div>
  <div class="col-4">
    <label for="slcSentido">Sendido</label>
    <select id="slcSentido" class="form-select" aria-label="Default select example">
      <option selected>Sentido</option>
      <option value="1">Ascendente</option>
      <option value="2">Descendente</option>
    </select>

  </div>
</div>
